@import "tachyons/css/tachyons.css";
@import "./ansi-html.scss";

body .rc-tooltip {
	opacity: 0.96;
}
.rc-tooltip-content {
	max-width: 300px;
}

.info-box {
	display: flex;
	color: #001b44;
	background-color: #cdecff;
	padding-left: 1rem;
	padding-right: 1rem;
}

blockquote {
	/* font-size: 1.4em; */
	/* width:60%; */
	margin: 50px auto;
	/* font-family:Open Sans; */
	font-style: italic;
	color: #555555;
	padding: 1.2em 1em 1.2em 3em;
	border-left: 8px solid #78c0a8;
	line-height: 1.6;
	position: relative;
	background: #ededed;
}

blockquote::before {
	font-family: Arial;
	content: "\201C";
	color: #78c0a8;
	font-size: 4em;
	position: absolute;
	left: 10px;
	top: -10px;
}

blockquote::after {
	content: "";
}

blockquote .source {
	display: block;
	color: #333333;
	font-style: normal;
	margin-top: 1em;
}
.content a {
	color: #0365a5;
	text-decoration: none;
	border-bottom: 1px solid #dfdfdf;
	transition: all 300ms ease;
}

a:hover,
a:focus {
	border-bottom-color: currentColor;
}

code {
	background-color: #eee;
	line-height: 1;
	border-radius: 2px;
	padding: 1px;
}
code {
	border: 1px solid #ddd;
}
pre code {
	border: none;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.content a {
	color: #0365a5;
	text-decoration: none;
	border-bottom: 1px solid #dfdfdf;
	transition: all 300ms ease;
}

a:hover,
a:focus {
	border-bottom-color: currentColor;
}

code {
	background-color: #eee;
	line-height: 1;
	border-radius: 2px;
	padding: 1px;
}
code {
	border: 1px solid #ddd;
}
pre code {
	border: none;
}
pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.sqlite-httpvfs-demo {
	@media (min-width: 58rem) {
		width: calc(100% + 10rem);
		max-width: 100vw;
		margin-left: -5rem;
	}
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1ex;
	padding-top: 0;
	pre,
	.like-codeblock {
		border-radius: 3px;
	}
	[role="button"] {
		cursor: pointer;
	}
	.like-codeblock {
		display: block;
		color: rgb(204, 204, 204);
		background: rgb(45, 45, 45) none repeat scroll 0% 0%;
		font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
		font-size: 1em;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		overflow-wrap: normal;
		line-height: 1.5;
		hyphens: none;
		padding: 1em;
		margin: 0.5em 0px;
		overflow: auto;
		width: 100%;
		border: medium none;
		white-space: pre-wrap;
	}
	.box-title {
		color: gray;
		font-size: small;
		text-transform: uppercase;
		background: white;
		padding: 0 0.15em;
		transform: translatey(-50%);
		width: max-content;
	}

	.with-inner-title {
		.inner-title {
			display: flex;
			padding-bottom: 0;
			transform: translatey(50%);

			> div {
				font-size: small;
				width: max-content;
				text-transform: uppercase;
				padding: 0 0.3em;
				margin-left: 1em;
				color: white;
				display: inline-block;
				background: gray;
				border-radius: 3px;
			}
			> div.floatright {
				margin-left: auto;
				margin-right: 1em;
			}
		}

		.inner-body {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
		> .hanging-button {
			transform: translatey(-50%);
			border-radius: 3px;
			border: none;
			margin-top: 0;
			padding-top: 0;
			box-sizing: border-box;
			color: white;
			background: #808080;
			cursor: pointer;
			text-transform: uppercase;
			margin-left: 1em;
			// margin-right: 1em;
			padding: 0.2em 0.5em;
			font-size: small;
			vertical-align: top;
		}
		&.hanging {
			margin-top: 2px;
			position: relative;
			.inner-title {
				position: absolute;
				width: 100%;
				top: 0;
				transform: translatey(-50%);
			}
		}
	}
	.page-list {
		background-color: rgb(45, 45, 45);
		color: white;
		padding: 1em;
		text-align: left;
		table {
			margin: 0 auto;
			border-collapse: collapse;
			th,
			td {
				border: 1px solid gray;
				padding: 0.4rem;
			}
		}
	}
	.maxheight {
		max-height: 300px;
		overflow: auto;
	}

	/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
	.flip-box {
		background-color: transparent;
		width: 100%;
		perspective: 1000px; /* Remove this if you don't want the 3D effect */

		/* This container is needed to position the front and back side */
		.flip-box-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
		}

		/* Do an horizontal flip when you move the mouse over the flip box container */
		&.flipped .flip-box-inner {
			transform: rotateY(180deg);
		}

		/* Position the front and back side */
		.flip-box-front,
		.flip-box-back {
			// position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		/* Style the front side */
		.flip-box-front {
		}

		/* Style the back side */
		.flip-box-back {
			transform: rotateY(180deg);
		}
		&.flipped .flip-box-front {
			position: absolute;
			top: 0;
		}
		&.unflipped .flip-box-back {
			position: absolute;
			top: 0;
		}
	}
	details summary {
		cursor: pointer;
	}
}

/* figure */
figure {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 1ex;
	border: 1px solid gray;
}

/* figure caption */
figcaption {
	padding: 0;
	padding-top: 10px;
	font-style: italic;
}

/* figure image element */
figure > img,
figure > svg {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* figure auto-number */
img + figcaption > span:first-of-type,
svg + figcaption > span:first-of-type {
	font-weight: bold;
	margin-right: 5px;
}

table {
	td {
		padding: 1ex;
	}
	border-collapse: collapse;
	thead tr th {
		border-bottom: 1px solid black;
	}
}

.clickable {
	cursor: pointer;
	color: #0365a5;
}
.footnote {
	border: 1px solid gray;
	padding: 0 1em;
}
.footnote-button {
	color: gray;
	font-size: 90%;
}
