@import "./ansi-html.scss";

.tooltip {
	$bg: lightgray;
	position: relative;

	.tooltip-content {
		min-width: 300px;
		/*max-width:400px;*/
		top: 40px;
		left: 50%;
		transform: translate(-50%, 0);
		padding: 20px;
		color: #666666;
		background-color: #eeeeee;
		font-weight: normal;
		font-size: 13px;
		border-radius: 8px;
		position: absolute;
		z-index: 99999999;
		box-sizing: border-box;
		box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
		display: none;
		i.arr {
			position: absolute;
			bottom: 100%;
			left: 50%;
			margin-left: -12px;
			width: 24px;
			height: 12px;
			overflow: hidden;

			&::after {
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				left: 50%;
				transform: translate(-50%, 50%) rotate(45deg);
				background-color: #eeeeee;
				box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
			}
		}
	}
	&:hover .tooltip-content {
		display: block;
	}
}
